services:
  db:
    image: postgres:17.0
    restart: always
    env_file:
      - ~/config/.env
    volumes:
      - pgdata_sovarouter:/var/lib/postgresql/data
    # ports:
    #   - 5441:5432
    labels:
      - group=sovarouter
      - dev.dozzle.name=database

  bot:
    build:
      context: .
    env_file:
      - ~/config/.env
    volumes:
      - ~/logs:/app/logs
    ports:
      - 10417:8001
    restart: unless-stopped
    depends_on:
      - db
    labels:
      - group=sovarouter
      - dev.dozzle.name=bot

volumes:
  pgdata_sovarouter:
